{% extends 'base.html.twig' %}

{% block nav %}{{ include('module/nav.html.twig', {connect: (app.user !== null)}) }}{% endblock %}

{% block body %} 
    <main id="home-page-content">
        <div class="intro">
            <div>
                <h1>Bienvenue</h1>
                <div>
                    <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                    <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
                </div>
            </div>
            <img src="" alt="">
        </div>
        {{ include('product/productList.html.twig', products) }}
        <div class="info">
            <div class="conviction">
                <div>
                    <div>
                        <h4>NOTRE CONVICTION</h4>
                        <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
                    </div>
                </div>
                <img src="" alt="">
            </div>
            <div class="values">
                <img src="" alt="">
                <div>
                    <div>
                        <h4>NOS VALEURS</h4>
                        <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.
Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}