@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFDF7;
    font-size: 14px;
    margin: 0;
    min-width: 100%;
}


main {
    flex: 1;
}

figure {
    margin: 0;
}

figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F6F5F0;
    height: 80px;
    padding: 0 25px;
}

a {
    text-decoration: none;
    color: black;
}

form > div > div {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    gap: 10px;
}

form label {
    color: #666666;
}
form input {
    width: 100%;
    height: 67px;
    border: 1px solid #666666;
}

.intro {
    width: 100%;
    height: 751px;
    display: flex;
    background-color: #E8F0E3;
}

.intro-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.intro-text p {
    font-size: 18px;
}

.intro-text h1 {
    font-size: 64px;
    font-weight: 500;
    margin: 20px;
}

.intro-text * {
    width: 362px;
}

.logo-container img {
    width: 124px;
}

.menu-container {
    display: flex;
    gap: 30px;
}

.product-list-img, .product-list-img>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.half-screen-img {
    width: 50%;
}
.half-screen-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-card > footer, .product-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}

.product-card-info h3 {
    margin-bottom: 10px;
}

.product-card > footer > a {
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 25px 0;
}

.product-card-desc {
    color: #666666;
}

.conviction {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #EBE3D3;
}

.conviction-text, .values-text {
    max-width: 425px;
}

.conviction > div {
    display: flex;
    align-items: end;
    padding: 20px;
}

.values {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #E8F0E3;
}

.values > div {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
}

.conviction h2, .values h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.products h2 {
    font-weight: 500;
    margin: 50px;
}

.products h3 {
    font-size: 16px;
    font-weight: 600;
}

.base-footer {
    height: 81px;
    width: 1fr;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
    background-color: white;
    justify-items: end;
}

.default-width, .btn, .form-container {
    width: 465px;
}

.btn {
    display: flex;
    background-color: #565656;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 77px;
}

.btn:hover {
    background-color: black;
}

#product-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 200px;
}

#product-page-content h1 {
    font-size: 20px;
    font-weight: 500;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-info .price {
    font-size: 30px;
    font-weight: 300;
}

.product-info .description h2 {
    font-size: 10px;
    font-weight: 400;
}

.description {
    color: #666666;
}
.form-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#form-page-content > * {
    height: 100%;
}

.connect-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-interface > a {
    text-decoration: underline;
}

.form-container, .form-container form {
    display: flex;
    flex-direction: column;
}

.check-container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}

.check-container input {
    width: 19px;
    height: 19px;
}

#regiter-page > figure {
    aspect-ratio: 734/1104;
}

#login-page > figure {
    aspect-ratio: 734/988;
}

.form-container {
    margin-top: 80px;
}

#command-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F1EC;
    padding: 50px 0;
}

#command-container h1 {
    margin-top: 0;
}

.command-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.command-content > .btn{
    margin-top: 20px;
}

.product-list, .command-total {
    background-color: white;
    width: 604px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}

.command-product {
    display: flex;
    margin: 0 50px;
    gap: 25px;
}

.command-product figure {
    width: 142px;
    height: 132.72px;
}

.command-product .label {
    font-size: 14px;
    margin: 0;
}

.command-product .quantity {
    color: #666666;
}
.command-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.command-product-info > div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
#delete-command {
    align-self: flex-start;
    margin: 10px 0;
    color: #666666;
}

.total-label {
    font-size: 14px;
    font-weight: 400;
}

.command-total {
    display: flex;
    justify-content: end;
}
.command-total > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    margin: 20px 30px;
    gap: 5px;
}

.command-total-value {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

#account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F1EC;
    padding: 50px 0;
}

#account-contant {
    display: flex;
    flex-direction: column;
    width: 604px;
    gap: 25px;
    margin-bottom: 50px;
}

#account-contant > div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.commands-list tr {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 50px;

}


.commands-list tbody tr {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}

.commands-list tbody tr:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.commands-list thead th {
    text-align: left;
    color: #666666;
    font-weight: 400;
    margin-bottom: 10px;
}

#account-contant h2 {
    margin-top: 0;
}