<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Green Goodies{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>{{ include('module/nav.html.twig', {connect: (app.user !== null)}) }}</header>
        {% block body %}{% endblock %}
        <footer>
            <span>© GreenGoodies - 2024</span>
        </footer>
    </body>
</html>
