<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Green Goodies{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# import du template de nav #}
        <header>{{ include('module/nav.html.twig', {connect: (app.user !== null)}) }}</header>
        {% block body %}{% endblock %}
        <footer class="base-footer">
            <span>© GreenGoodies - 2024</span>
        </footer>
    </body>
</html>
