<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Green Goodies{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>{% block nav %}{% endblock %}</header>
        {% block body %}{% endblock %}
        <footer>
            <span>© GreenGoodies - 2024</span>
        </footer>
    </body>
</html>
